rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Footprints collection
    match /footprints/{docId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    // Pledges collection
    match /pledges/{docId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}
